*{
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    
}

html{
    font-size: 62.5%;
    
}
.nav-header
{
    background-color: red;
    min-height: 10px;
    display: flex;
    
    
   
}


.logo-nav{
    height: 6rem;
    width: 6rem;
}
.logo-t{
    width: 7rem;
    height: 3rem;
    filter: brightness(1.1);
    mix-blend-mode: multiply;
}
.logo-navt{
    padding-left: 33rem;
    padding-top: 1rem;
}
.ul-nav{
display: block;
list-style: none;
text-decoration: none;
font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
color: white;
padding-left: 2rem;
}
.ul-1{
    font-size: 23px;
    
}
.ul-2{
    font-size: 15px;
}
.final-nav img{
    height: 3rem;
    width: 3rem;
    filter: brightness(1.1);
    mix-blend-mode: multiply;

}
.final-nav{
    padding-left: 52rem;
    padding-top: 1.5rem;
}